# User Input and Math function

### Example 1

Accepting 2 numbers and printing the arthematic operation

In [1]:
num_1, num_2 = input("Enter 2 numbers: ").split()
num_1 = int(num_1)
num_2 = int(num_2)

sum_1 = num_1 + num_2
difference = num_1 - num_2
product = num_1 * num_2
divide = num_1 / num_2
reminder = num_1 % num_2

print(f"{num_1} + {num_2} = {sum_1}")
print(f"{num_1} - {num_2} = {difference}")
print(f"{num_1} * {num_2} = {product}")
print(f"{num_1} / {num_2} = {divide}")
print(f"{num_1} % {num_2} = {reminder}")

Enter 2 numbers: 4 3
4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.3333333333333333
4 % 3 = 1

### Example 2

Ask to user to input for convert from miles or kilometers and the corresponding value

print the converted value

In [6]:
distance, unit = input("Enter the distance like 12 kilometers or 3 miles: ").split()
distance = int(distance)

if unit == "miles":
    conv_distance = distance * 1.60934
    print(f"{distance} miles equals {conv_distance} kilometers")
elif unit == "kilometers":
    conv_distance = distance / 1.60934
    print(f"{distance} kilometers equals {conv_distance} miles")
else:
    print("Invlaid inputs provided.")

Enter the distance like 12 kilometers or 3 miles: 3 miles
3 miles equals 4.82802 kilometers

## Math Module

In [7]:
import math

In [14]:
# Returns the ceil value of a float
print("ceil(4.4) is", math.ceil(4.4))

# returns the floor value of a float
print("floor(4.4) is", math.floor(4.4))

# Returns the absolute value
print("fabs(-4.4) is", math.fabs(-4.4))

# Returns teh factorial, Eg: factorial(4) = 1 * 2 * 3 * 4
print("factorial(4) is", math.factorial(4))

# Returns the reminder of the division
print("fmod(5,4) is", math.fmod(5,4))

# Receives a float and returns a int
print("trunc(4.4) is", math.trunc(4.4))

ceil(4.4) is 5
floor(4.4) is 4
fabs(-4.4) is 4.4
factorial(4) is 24
fmod(5,4) is 1.0
trunc(4.4) is 4

### Special Values

In [15]:
print("math.e =", math.e)
print("math.pi =", math.pi)

math.e = 2.718281828459045
math.pi = 3.141592653589793

### Power and Square root

In [17]:
print("pow(2,2) =", math.pow(2,2))
print("sqrt(4) =", math.sqrt(4))

pow(2,2) = 4.0
sqrt(4) = 2.0

### calculating log values

In [19]:
# You can define the base and 10^3 as 1000
print("log(1000,10) =", math.log(1000,10))

# You can also use base 10 like this
print("log10(1000) =", math.log10(1000))

log(1000,10) = 2.9999999999999996
log10(1000) = 3.0

### Convert radians to degrees and vice versa

In [20]:
print("degrees(1.5034) =", math.degrees(1.5034))
print("radians(90) =", math.radians(90))

degrees(1.5034) = 86.13847491996796
radians(90) = 1.5707963267948966

### Trignometric Functions

In [34]:
print("sin(0) =", math.sin(0))
print("cos(0) =", math.cos(0))
print("tan(0) =", math.tan(0))
print("asin(0) =", math.asin(0))
print("acos(0) =", math.acos(0))
print("atan(0) =", math.atan(0))
print("atan2(90, 15) =", math.atan2(90, 15))
print("sinh(0) =", math.sinh(0))
print("cosh(0) =", math.cosh(0))
print("tanh(0) =", math.tanh(0))
print("asinh(1) =", math.asinh(1))
print("acosh(2) =", math.acosh(2))
print("atanh(0.5) =", math.atanh(0.5))

sin(0) = 0.0
cos(0) = 1.0
tan(0) = 0.0
asin(0) = 0.0
acos(0) = 1.5707963267948966
atan(0) = 0.0
atan2(90, 15) = 1.4056476493802699
sinh(0) = 0.0
cosh(0) = 1.0
tanh(0) = 0.0
asinh(1) = 0.8813735870195429
acosh(2) = 1.3169578969248166
atanh(0.5) = 0.5493061443340549

### Other math functions

In [47]:
print("gamma(1) =", math.gamma(1))
print("Is 1 finite =", math.isfinite(1))

gamma(1) = 1.0
Is 1 finite = True